/*
These breakpoints are based on tachyon's source

TACHYONS v4.9.0 | http://tachyons.io

The MIT License (MIT)

Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the "Software"),
to deal in the Software without restriction, including without limitation
the rights to use, copy, modify, merge, publish, distribute, sublicense,
and/or sell copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
DEALINGS IN THE SOFTWARE. 
*/

:root {
  /*
    Semantically-named custom properties matching npm Figma Library
    and Primer naming conventions.

    These should be preferred over the below variables.

    Note that each variable has a corresponding class;
    `--color-fg-default` can be applied with `.color-fg-default`, etc.

    https://www.figma.com/file/qewGdfS6NAH5yOR3gKtWK9/?node-id=3%3A41
  */
  --color-fg-default: #262626;
  --color-fg-muted: #4d4d4d;
  --color-fg-subtle: #666666;
  --color-fg-on-emphasis: #ffffff;
  --color-fg-brand: #cb3837;
  --color-fg-accent: #196cb2;
  --color-fg-success: #107010;
  --color-fg-attention: #886701;
  --color-fg-danger: #bb2e3e;

  --color-bg-default: #ffffff;
  --color-bg-subtle: #f7f7f7;
  --color-bg-inset: #f2f2f2;
  --color-bg-emphasis: #262626;
  --color-bg-accent: #f2f9ff;
  --color-bg-success: #dcfdd9;
  --color-bg-attention: #fff5d8;
  --color-bg-danger: #ffdbdb;

  --color-border-default: #e6e6e6;
  --color-border-muted: #f2f2f2;
  --color-border-strong: #767676;
  --color-border-accent: #afcee9;
  --color-border-accent-emphasis: #0969da;
  --color-border-success: #93d58a;
  --color-border-success-emphasis: #107010;
  --color-border-attention: #efd88f;
  --color-border-danger: #f1b8bc;

  --color-shadow-large: 0 8px 24px rgba(140, 149, 159, 0.2);

  /*
    Legacy color variables — please avoid!
  */
  --wombat-red-hover: #c40b0a;
  --button-green: #00c642;
  --wombat-yellow: #ffcd3a;
  --wombat-violet: #8956ff;
  --wombat-purple: #c836c3;
  --wombat-green: #00c642;
  --wombat-teal: #29abe2;
  --light-blue: #70b8ff;
  --wombat-red: #cb3837;
  --header-color: #000;
  --bg-dark: #cb3837;
  --npmRed: #cb3837;
  --npmLightRed: #fb3e44;
  --blue: #357edd;
  --bg: #fff;
  --background-color: #fafafa;
  --wombat-bg-red: rgba(203, 55, 56, 0.1);

  --code: 'Fira Mono', 'Andale Mono', 'Consolas', monospace;
  --code-ls: 0px;
  --code-lh: 24px;

  --standardCardTransition: all 0.2s ease;

  --header-letter-spacing: 0.015625em;

  --readme-font-size: 18px;
  --readme-line-height: 1.6;
  --copy-color: rgba(0, 0, 0, 0.85);
  --code-bg: #f7f7f7;
  --code-box-radius: 2px;
}

.cfb2a888 {
}

._8055e658 {
  flex-grow: 1;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 3px solid #cb3837;
  border-left: 3px solid var(--wombat-red);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

._8055e658:hover {
  background: rgba(203, 55, 56, 0.1);
}

._38ce9a85:focus {
  outline-offset: 2px;
  outline: 1px dotted currentColor;
}

._8055e658:focus-within {
  border-radius: 0;
}

._38ce9a85:focus-visible {
  outline-style: solid;
  outline-width: 2px;
}

._8055e658 svg {
  font-weight: bold;
  margin: -0.25em 0.5em -0.25em 0;
  width: 1.2em;
  height: 1.2em;
  fill: #cb3837;
  fill: var(--wombat-red);
}

@media screen and (min-width: 60em) {
  ._8055e658 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-left: none;
    border-bottom: 2px solid #cb3837;
    border-bottom: 2px solid var(--wombat-red);
  }
}

._8055e658.ac5f7ef8 {
  background-color: rgba(203, 55, 56, 0.1);
  border: 1px solid transparent;
}

._8055e658._7aa1ee94 {
  color: #bc3433;
  border-color: #bc3433;
}

._8055e658._7aa1ee94:hover {
  background: hsl(0.405405405405404, 58.7301587302%, 95%);
}

._8055e658._7aa1ee94.ac5f7ef8 {
  background-color: rgba(203, 56, 55, 0.15);
}

._8055e658._7aa1ee94 ._38ce9a85 {
  color: #bc3433;
}

._8055e658._7aa1ee94 svg,
._8055e658._7aa1ee94 .c3fc8940 {
  fill: hsl(0.4379562043795644, 57.3221757322%, 26.862745098%);
}

._8055e658.d9f99065 {
  color: #ffcd3a;
  color: var(--wombat-yellow);
  border-color: #ffcd3a;
  border-color: var(--wombat-yellow);
}

._8055e658.d9f99065:hover {
  background: hsl(44.77157360406091, 100%, 95%);
}

._8055e658.d9f99065.ac5f7ef8 {
  background-color: rgba(255, 205, 58, 0.2);
}

._8055e658.d9f99065 ._38ce9a85 {
  color: #886701;
}

._8055e658.d9f99065 svg,
._8055e658.d9f99065 .c3fc8940 {
  fill: hsl(44.77157360406091, 100%, 41.3725490196%);
}

._8055e658._2a0881eb {
  border-color: #00c642;
  border-color: var(--wombat-green);
}

._8055e658._2a0881eb:hover {
  background: hsl(140, 100%, 92%);
}

._8055e658._2a0881eb.ac5f7ef8 {
  background-color: rgba(0, 198, 66, 0.2);
}

._8055e658._2a0881eb ._38ce9a85 {
  color: hsl(140, 100%, 18.8235294118%);
}

._8055e658._2a0881eb svg,
._8055e658._2a0881eb .c3fc8940 {
  fill: hsl(140, 100%, 28.8235294118%);
}

._8055e658._7cec0316 {
  border-color: #8956ff;
  border-color: var(--wombat-violet);
}

._8055e658._7cec0316:hover {
  background: hsl(258.1065088757397, 100%, 95%);
}

._8055e658._7cec0316.ac5f7ef8 {
  background-color: rgba(137, 86, 255, 0.2);
}

._8055e658._7cec0316 ._38ce9a85 {
  color: hsl(258.1065088757397, 100%, 26.862745098%);
}

._8055e658._7cec0316 svg,
._8055e658._7cec0316 .c3fc8940 {
  fill: #8956ff;
  fill: var(--wombat-violet);
}

._8055e658.c1f85151 {
  border-color: #c836c3;
  border-color: var(--wombat-purple);
}

._8055e658.c1f85151:hover {
  background: hsl(302.05479452054794, 57.4803149606%, 95%);
}

._8055e658.c1f85151.ac5f7ef8 {
  background-color: rgba(200, 54, 195, 0.2);
}

._8055e658.c1f85151 ._38ce9a85 {
  color: hsl(302.05479452054794, 57.4803149606%, 29.8039215686%);
}

._8055e658.c1f85151 svg,
._8055e658.c1f85151 .c3fc8940 {
  fill: hsl(302.05479452054794, 57.4803149606%, 39.8039215686%);
}

._8055e658.b4fcfd19 {
  border-color: #29abe2;
  border-color: var(--wombat-teal);
}

._8055e658.b4fcfd19:hover {
  background: hsl(197.83783783783784, 76.1316872428%, 95%);
}

._8055e658.b4fcfd19.ac5f7ef8 {
  background-color: rgba(41, 171, 226, 0.2);
}

._8055e658.b4fcfd19 ._38ce9a85 {
  color: hsl(197.83783783783784, 76.1316872428%, 32.3529411765%);
}

._8055e658.b4fcfd19 svg,
._8055e658.b4fcfd19 .c3fc8940 {
  fill: hsl(197.83783783783784, 76.1316872428%, 52.3529411765%);
}

._38ce9a85 {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  color: #bb2e3e;
}

.ac5f7ef8 {
}

.ac5f7ef8 ._38ce9a85 {
  font-weight: bold;
}

._02124fd7 {
}

.fff73891 {
}

.fff73891:first-of-type {
  padding-left: 0;
}

.eb65b847 {
}

._22665c13 {
  font-size: 9px;
  border: 1px solid;
  border-radius: 2px;
  padding: 1px 2px;
  position: relative;
  top: -2px;
  margin-left: 10px;
}
